:root {
    --eggplant: #443742ff;
    --tomato: #f95738ff;
    --thistle: #e2cfeaff;
    --ecru: #d7b377ff;
    --bittersweet: #fe5f55ff;
}

body {
    background-color: var(--thistle);
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
    width: 300px;
    height: auto;
}

.navbar {
    background-color: var(--eggplant);
    position: sticky;
    width: 100%;
    display: grid;
    grid-template: 60px / 1fr 1fr;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
    color: white;
}

.navbar div {
    justify-self: end;
}

.navbar>div>button {
    appearance: none;
    border: none;
    outline: none;
    background-color: var(--bittersweet);
    padding: 4px;
    font-family: inherit;
    cursor: pointer;
}

.page-content {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.img-card {
    background-color: white;
    padding: 8px;
    padding-bottom: 16px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 50px 0px;
}

.logo {
    font-family: 'Dancing Script';
    font-size: 36px;
}

.textContent {
    align-self: stretch;
    text-align: center;
    background-color: var(--ecru);
    padding: 20px 0px;
}

.profile-pic {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: 4px solid var(--tomato);
}