:root {
    --eggplant: #443742ff;
    --tomato: #f95738ff;
    --thistle: #e2cfeaff;
    --ecru: #d7b377ff;
    --bittersweet: #fe5f55ff;
}

body {
    background-color: var(--thistle);
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    font-family: 'Playfair Display';
    font-size: 1rem;
}

img {
    width: 300px;
    height: auto;
}

.navbar {
    background-color: var(--eggplant);
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    box-sizing: border-box;
    color: white;
}

.navbar>div {
    display: flex;
    gap: 20px;
}

.navbar>div>button {
    appearance: none;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: inherit;
    cursor: pointer;
    text-transform: uppercase;
    color: inherit;
    letter-spacing: 1px;
    font-size: 22px;
    font-weight: 600;
}

.navbar>div>button:hover {
    color: var(--bittersweet);
}

.page-content {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.img-card {
    background-color: white;
    padding: 8px;
    padding-bottom: 16px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 50px 0px;
    position: relative;
}

.logo {
    font-family: 'Dancing Script';
    font-size: 60px;
    position: absolute;
    top: -40px;
    rotate: -8deg;
}

.text-container {
    align-self: stretch;
    background-color: var(--ecru);
    padding: 40px 0px;
}

.text {
    background-color: white;
    padding: 16px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.profile-pic {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: 4px solid var(--tomato);
    grid-row: 1 / span 2;
}

.profile-container {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 8px;
}

.food-section-title {
    font-size: 24px;
    text-decoration: underline;
    text-decoration-color: var(--bittersweet);
}

.food-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 80px;
}

.food-section li {
    list-style: none;
    margin-bottom: 8px;
    margin-left: 16px;
}

.food-section li::marker {
    color: var(--tomato);
    content: '➳';
    font-size: 20px;
}

.menu-image img {
    width: 200px;
    height: auto;
}